.header{
    width: 100%;
    height: 70px;
    color: rgb(16, 235, 235);
}

.navbar-brand{
    margin-left: 30px;
}

ul{
    margin-right: 30px;
}

header{
    color: #fff;
    background-color: #F08832 !important;
    box-shadow: 0px 0px 12px 2px rgba(24, 15, 15, 0.339);
}

.container-fluid{
    display: flex;
    flex-direction: row;

}
.content{
    width: calc(100% - 35%);
    height: 100%;

}

.product-card{
    position: sticky;
    height: 100vh;
    width: 35%;
    top: 0px;
    overflow-y: auto;
    padding-right: 8px; 
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 0px 0px 12px 2px rgba(24, 15, 15, 0.339);
}

.product-card::-webkit-scrollbar {
  width: 8px;
}

.product-card::-webkit-scrollbar-track {
  background: #F08832; 
  border-radius: 4px;
}

.product-card::-webkit-scrollbar-thumb {
  background-color: #F08832; 
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
}

hr{
    height: 5px;
    border: 3px solid grey;    
}
.basket-title{
    text-align: center;
}

.icon-waren{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.waren{
    padding-left: 20px;
    padding-right: 20px;
}
.waren-icons{
    width: 30px;
    height: 30px;
}
.endprice{
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.order{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    color: #F08832;

}

.navbar-brand img{
    width: 150px;
    height: 100%;
}
.active{
    display: block;
}

.desactive{
    display: none;
}

.banner img, .menu img{
    width: 100%;
    height: 120px;
    object-fit: cover;
    background-position: center;
}

.text-banner{
    padding: 20px;
}

.text-banner p{
    color: #F08832;
}

.second-menu{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: #F7F6F1;
    color: grey;
    padding-left: 10px;
}

.second-menu img{
    width: 50px;
    height: 50px;
    padding: 10px;
}

.second-menu a{
    padding: 5px;
    color: grey;
}
a:hover{
    color: #F08832;
}

.title3{
    margin: 5px;
    padding-left: 5px;
}
.menu{
    padding: 15px;
}
.card{
    border-radius: 0 !important;
    margin: 5px;
}

.card:hover{
    background-color: #f5d4ba;
}

.card img{
    height: 130px;
    border-radius: 0 !important;
}

.add-to-basket{
    position: absolute;
    top: 0;
    right: 0;
    background-color: white !important;
    border: 3px solid #F7F6F1 !important;
    border-radius: 0 !important;
}

.add-to-basket:hover{
    background-color: grey !important;
    border: 3px solid grey !important;

}
.basket-title{
    font-size: 32px;
    margin: 5px;
    padding: 5px;
    box-shadow: 0 2px 0 0 grey;

}
.kein-artikel{
    margin: 5px;
    padding: 5px;
    border: none !important;
}

.kein-artikel h5{
    color: #F08832;
}



.add-to-basket img{
    width: 30px;
    height: 30px;
}

.card-price{
    color: #F08832;
    font-weight: 500;
}

.basket-responsive{
    display:none;
}

.basket-responsive-btn{
    border-radius: 0;
    border: none;
    width: 100%;
}

.popup-basket{
    display: flex;
    justify-content: start;
    flex-direction: column;
    background-color: #fff;
    opacity: 1;
    width: 100%;
    height: 100vh;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


@media (max-width:800px){
    *{
        font-size: 18px;
    }
    .product-card{
        width: 300px;
    }
    .content{
        width: calc(100% - 300px);
    }
}


@media (max-width:620px) {
    *{
        font-size: 16px;
    }
    .product-card{
        position: sticky;
        background-color: #fff;
        width: 100%;
        height: 100vh;
        opacity: 0.95;
        padding-bottom: 50px;
        margin-bottom: 30px;
    }

    .active{
        display: none;
    }

    .content{
        width: 100%;
    }

    .basket-responsive{
        display: flex;
        position: sticky;
        bottom: 10px;

    }

}